*{
    margin:0;
    padding:0;
}

body{
    background:#f0f8ff;
    font-family:Tahoma;
}

header{
    background:#004d4d;
    color:white;
    text-align:center;
    padding:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
}

.conteudo{
    padding:40px;
}

.caixa{
    background:white;
    width:60%;
    margin:auto;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

.caixa img{
    width:250px;
    margin-top:15px;
}

footer{
    background:#004d4d;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}