
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', sans-serif; 
}

body{
    background-image: url("../imagens/foto5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    color: #ffffff;
    width: 100%;            
    min-height: 100vh;      
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    text-align: center;       
}
.titulo {
    font-size: 2.8rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6); 
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100vw;

}


.subtitulo {
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff; 
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-bottom: 50px;
}

.historia {
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(10px);        
    border: 1px solid rgba(10, 4, 4, 0.062);
    border-radius: 12px;                
    padding: 25px;
    margin: 15px 0;
    width: 100%;
    max-width: 500px;                
    color: #fffdfd;
    justify-content: center;
    
}
.formatoatual{
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(10px);        
    border: 1px solid rgba(10, 4, 4, 0.062);
    border-radius: 12px;                
    padding: 25px;
    margin: 15px 0;
    width: 100%;
    max-width: 500px;                
    color: #fffdfd;
    justify-content: center;
    
}



.realmadrid:hover, .milan:hover, .bayerdemunique:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 25px rgba(0, 210, 255, 0.3); 
    cursor: pointer;
}


.realmadrid {
    border-left: 5px solid #00000000; 
}

.milan {
    border-left: 5px solid #e74c3c; 
}

.bayerdemunique {
    border-left: 5px solid #3498db; 
}